{% extends 'base.html' %}

{% block full_title %}
	{{ website_name }}
{% endblock %}

{% block content %}
	<body class="home">
		<h1 class="text-center">Sales Tracker Home Page</h1>
		
		<p>
			Welcome to Sales Tracker, where you we track your sales data and compile it
			into accessible data for you to improve your business with. Please start by
			registering or logging in. Feel free to use our calculator at the bottom left corner
			if you need assistance.
		</p>
		
		<br><hr><br>
		
		<h2 class="text-center">Popular Items</h2>
		{% include 'sub_templates/all_items.html' %}
	</body>
{% endblock %}