{% extends 'base.html' %}

{% block body %}

<div class="text-center">
	<input type="submit" class="blue" value="Home" onclick="window.open('http://localhost:8000','_self')" />
	<input type="submit" class="blue" value="Sales Input" onclick="window.open('http://localhost:8000/input','_self')" />
	<input type="submit" class="blue" value="Sales Data" onclick="window.open('http://localhost:8000/sales','_self')" />
	<input type="submit" class="blue" value="Sales Information" onclick="window.open('http://localhost:8000/info','_self')" />
	<input type="submit" class="red" value="Calculator" onclick="window.open('http://localhost:8000/calc','_blank','height=425,width=425')" />
	<h1>Sales Input</h1>
</div>
{% endblock %}