<div id="all-items-cont">
	{% for item in items %}
		<div class="item-cont">
			<h3>{{ item.name }}</h3>
			<p>Seller: {{ item.user.username }}</p>
			
			{% for image_tuple in item.images %}
				{% if forloop.counter <= 3 %}
					<img class="img-cont" src="{{ image_tuple.0 }}" alt="{{ image_tuple.1 }}">
				{% endif %}
			{% endfor %}
			
			<p>
				<strong>Item Details:</strong> {{ item.details }}
				<br>
				<strong>Cost Per Item:</strong> ${{ item.cost }}
				<br>
				<strong>Total Available:</strong> {{ item.units_available }}
			</p>
			
			{% if item.sale_start and item.sale_end %}
				<p>
					<strong>Sale Start:</strong> {{ item.sale_start }}
					<br>
					<strong>Sale End:</strong> {{ item.sale_end }}
				</p>
			{% endif %}
			
			{% if item.discount_start and item.discount_end %}
				<p>
					<strong>Discount Start:</strong> {{ item.discount_start }}
					<br>
					<strong>Discount End:</strong> {{ item.discount_end }}
				</p>
			{% endif %}

			{% if user.is_authenticated %}
				<form id="add-to-cart-form-{{ item.id }}" class="inline" onsubmit="return addToCart(this)">
					{% csrf_token %}
					<input id="add-to-cart-form-{{ item.id }}-btn" type="submit" class="button" value="Add to Cart">
				</form>
				
				{% for seller_online in sellers_online %}
					{% if item.user.username != username and seller_online.0 == item.id %}
						{% if seller_online.1 and not seller_online.2 %}
							<button class="button bg-green" onclick="startChat('{{ item.user.username }}')">Chat with Seller</button>
						{% else %}
							<a href="{% url 'send_email' item.id %}" class="button bg-green">Email Seller</a>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		<hr>
	{% endfor %}
</div>
<hr>