<h2 class="text-center"><a href="/">Popular Items</a></h2>

{% for popular_item in popular_items %}
	<div class="item-cont">
		<h3>{{ popular_item.name }}</h3>
		
		{% for image_tuple in popular_item.images %}
			{% if forloop.counter <= 3 %}
				<img class="img-cont" src="{{ image_tuple.0 }}" alt="{{ image_tuple.1 }}">
			{% endif %}
		{% endfor %}
		
		<p>
			<strong>Item Details:</strong> {{ popular_item.details }}&emsp;&emsp;&emsp;
			<strong>Cost Per Item:</strong> ${{ popular_item.cost }}&emsp;&emsp;&emsp;
			<strong>Total Items Available:</strong> {{ popular_item.units_available }}
		</p>
		
		{% if popular_item.sale_start and popular_item.sale_end %}
			<p>
				<strong>Sale Start:</strong> {{ popular_item.sale_start }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<strong>Sale End:</strong> {{ popular_item.sale_end }}
			</p>
		{% endif %}
		
		{% if popular_item.discount_start and popular_item.discount_end %}
			<p>
				<strong>Discount Start:</strong> {{ popular_item.discount_start }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<strong>Discount End:</strong> {{ popular_item.discount_end }}
			</p>
		{% endif %}
	</div>
	<hr>
{% endfor %}
<hr>