{% if user.is_authenticated %}
	{% for user_item in user_items %}
		<div class="item-cont">
			<h2>Item:</h2>
			<h3>{{ user_item.name }}</h3>
			{% if user_item.images %}
				<img src="{{ user_item.images.0.file.url }}" alt="{{ user_item.images.0.alt }}"> <a class="button" href="{% url 'add_item_images' user_item.id %}">Update Item Image</a>
			{% else %}
				<a class="button" href="{% url 'add_item_images' user_item.id %}">Upload Item Image</a>
			{% endif %}
			<p><strong>Item Details:</strong> {{ user_item.details }} &emsp;&emsp;&emsp; 
			<strong>Cost Per Item:</strong> ${{ user_item.cost }} &emsp;&emsp;&emsp; 
			<strong>Total Items Available:</strong> {{ user_item.units_available }}</p>
			{% if user_item.sale_start and user_item.sale_end %}
				<p><strong>Sale Start:</strong> {{ user_item.sale_start }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
				<strong>Sale End:</strong> {{ user_item.sale_end }}</p>
			{% endif %}
			{% if user_item.discount_start and user_item.discount_end %}
				<p><strong>Discount Start:</strong> {{ user_item.discount_start }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<strong>Discount End:</strong> {{ user_item.discount_end }}</p>
			{% endif %}
			<a class="button">Change Details</a> <a class="button">Delete Item</a>
		</div>
	{% endfor %}
{% endif %}