{% if user.is_authenticated %}
	<h2>Your Items</h2>
	{% for user_item in user_items %}
		<div class="item-cont">
			<h3>{{ user_item.name }}</h3>
			<p>Cost: ${{ user_item.cost }}</p>
			<p>Price: ${{ user_item.price }}</p>
			<p>{{ user_item.details }}</p>
			
			{% if user_item.image_set %}
				<img src="{{ user_item.image_set.0.file.url }}" alt="{{ user_item.image_set.0.alt }}">
			{% endif %}
			<a href="{% url 'add_item_images' user_item.id %}">Add Images</a>
		</div>
	{% endfor %}
{% endif %}