{% extends "base.html" %}

{% block content %}
	<body class="home">
	<div class="grid-container">
		<h1 class="text-center">Sales Tracker Home Page</h1>
		{% include 'sub_templates/user_items.html' %}
		{% if user.is_authenticated %}
			<h2>Your Items (Total Items)</h2>
			<p>Your items go here.</p>
		{% else %}
			<p>Welcome to Sales Tracker, where you we track your sales data and compile it
			into accessible data for you to improve your business with. Please start by 
			registering or logging in. Feel free to use our calculator at the bottom left corner
			if you need assistance.</p>
		{% endif %}
		<h2>Popular Items</h2>
		<p>Popular items go here.</p>
	</div>
	</body>
{% endblock %}