{% extends 'base.html' %}

{% block title %}
	{{ username }}'s Cart
{% endblock%}

{% block content %}
	<body class="cart">
	<h2 class="text-center">Your Cart (<span id="cart-num-items">{{ num_items_in_cart }}</span>)</h2>
	
	<form method="post" action="{% url 'checkout' username %}">
		{% csrf_token %}
		<input type="submit" class="button expanded" value="Checkout">
	</form>
	
	{% for item in items %}
		<div class="item-cont">
			<h3>{{ item.name }}</h3>
			
			{% for image_tuple in item.images %}
				{% if forloop.counter <= 3 %}
					<img class="img-cont" src="{{ image_tuple.0 }}" alt="{{ image_tuple.1 }}">
				{% endif %}
			{% endfor %}
			
			<p>
				<strong>Item Details:</strong> {{ item.details }}
				<br>
				<strong>Cost Per Item:</strong> ${{ item.cost }}
				<br>
				<strong>Total Available:</strong> {{ item.units_available }}
			</p>
			
			{% if item.sale_start and item.sale_end %}
				<p>
					<strong>Sale Start:</strong> {{ item.sale_start }}
					<br>
					<strong>Sale End:</strong> {{ item.sale_end }}
				</p>
			{% endif %}
			
			{% if item.discount_start and item.discount_end %}
				<p>
					<strong>Discount Start:</strong> {{ item.discount_start }}
					<br>
					<strong>Discount End:</strong> {{ item.discount_end }}
				</p>
			{% endif %}
			
			<form id="del-from-cart-form-{{ item.id }}" class="inline" onsubmit="return delFromCart(this)">
				{% csrf_token %}
				<input type="submit" class="button bg-red" value="Delete from Cart">
			</form>
			<hr>
		</div>
	{% endfor %}
	<hr>
	</body>
{% endblock %}