{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
	<body class="contact">
        <h1 class="text-center">Contact Us</h1>
        <p>
            Feel free to contact us at SalesTracker@gmail.com or create a ticket below if
			you have an issues or questions regarding the site. One of our employees will
			get into contact with 3-5 business days.
        </p>

        <br><hr><br>

        {% if success == 1 %}
            <h3 class="text-green text-center">Message Sent</h3>
        {% elif success == 0 %}
            <h3 class="text-red text-center">Message Failed to Send</h3>
        {% endif %}

        <form method="post" action="{% url 'contact_us' %}">
            {% csrf_token %}

            {{ form }}
            <input type="submit" value="Submit" class="button expanded"/>
        </form>
    </body>
{% endblock %}