{% extends 'base.html' %}

{% block title %}
    Sales Data
{% endblock %}

{% block content %}
	<body class="data">
        <h1 class="text-center">Sales Data</h1>
        <p>
            In Sales Data we keep track of the data for the items you have added.
            Please make sure to update the data for your items so we can provide you
            with accurate information.
        </p>

        <br><hr><br>
        
        {% if user.is_authenticated %}
            {% for user_item in user_items %}
                <h3>Item Name: {{ user_item.name }}</h3>
                <p>Total Items Sold: {{ user_item.units_sold }}</p>
                
                {% if user_item.most_popular_month %}
                    <p>Most Popular During The Month Of: {{ user_item.most_popular_month }}</p>
                {% endif %}
                
                {% if user_item.least_popular_month %}
                    <p>Least Popular During The Month Of: {{ user_item.least_popular_month }}</p>
                {% endif %}
                
                <p>Total Cost: {{ user_item.cost }}</p>
                <p>Total Revenue: {{ user_item.revenue }}</p>
                <p>Total Profit: {{ user_item.profit }}</p>
                <hr>
            {% endfor %}
        {% else %}
            <p>Please log in to view your Sales Data.</p>
        {% endif %}
        <hr>
	</body>
{% endblock %}