{% extends 'base.html' %}

{% block title %}
    Sales Information
{% endblock %}

{% block content %}
	<body class="info">
        <h1 class="text-center">Sales Information</h1>
        <p>
            In Sales Information we transform data into information so you can
            better succeed in your business. Please make sure all data is up
            to date.
        </p>

        <br><hr><br>

        {% if user.is_authenticated %}
            <p>Highest Selling Item(s):</p>
            <p>Lowest Selling Item(s):</p>
            <p>Total Items Sold:</p>
            <p>Most Discounted Item(s):</p>
            <p>Most Expensive Item(s):</p>
            <p>Cheapest Item(s):</p>
            <p>Most Profitable Item(s):</p>
            <p>Least Profitable Item(s):</p>
            <p>Total Revenue For All Items:</p>
            <p>Most Profitable Month (average):</p>
            <p>Least Profitable Month (average):</p>
            <p>Total Cost For All Items:</p>
            <p>Total Profit For All Items:</p>
        {% else %}
            <p>Please log in to view your Sales Information.</p>
        {% endif %}
	</body>
{% endblock %}