{% extends 'base.html' %}

{% block title %}
    Sales Information
{% endblock %}

{% block content %}
	<body class="info">
        <h1 class="text-center">Sales Information</h1>
        <p>
            In Sales Information we transform data into information so you can
            better succeed in your business. Please make sure all data is up
            to date.
        </p>

        <br><hr><br>

        {% if user.is_authenticated %}
            <p>Total Items Sold: {{ total_units_sold }}</p>
            <p>Total Revenue For All Items: ${{ total_revenue }}</p>
            <p>Total Cost For All Items: ${{ total_cost }}</p>
            <p>Total Profit For All Items: ${{ total_profit }}</p>
            
            <p>
                Highest Selling Item(s): 
                {% for item in highest_selling_items %}
                    {% if forloop.counter > 1 %}
                        , {{ item.name }}
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                {% endfor %}
            </p>

            <p>
                Lowest Selling Item(s):
                {% for item in lowest_selling_items %}
                    {% if forloop.counter > 1 %}
                        , {{ item.name }}
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                {% endfor %}
            </p>
            
            <p>
                Most Expensive Priced Item(s):
                {% for item in most_expensive_items %}
                    {% if forloop.counter > 1 %}
                        , {{ item.name }}
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                {% endfor %}
            </p>
            
            <p>
                Cheapest Priced Item(s):
                {% for item in cheapest_items %}
                    {% if forloop.counter > 1 %}
                        , {{ item.name }}
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                {% endfor %}
            </p>
            
            <p>
                Most Profitable Item(s):
                {% for item in most_profitable_items %}
                    {% if forloop.counter > 1 %}
                        , {{ item.name }}
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                {% endfor %}
            </p>
            
            <p>
                Least Profitable Item(s):
                {% for item in least_profitable_items %}
                    {% if forloop.counter > 1 %}
                        , {{ item.name }}
                    {% else %}
                        {{ item.name }}
                    {% endif %}
                {% endfor %}
            </p>
            
            <p>
                Most Profitable Month (average):
                {% for month in most_profitable_months %}
                    {% if forloop.counter > 1 %}
                        , {{ month }}
                    {% else %}
                        {{ month }}
                    {% endif %}
                {% endfor %}
            </p>
            
            <p>
                Least Profitable Month (average):
                {% for month in least_profitable_months %}
                    {% if forloop.counter > 1 %}
                        , {{ month }}
                    {% else %}
                        {{ month }}
                    {% endif %}
                {% endfor %}
            </p>
        {% else %}
            <p>Please log in to view your Sales Information.</p>
        {% endif %}
	</body>
{% endblock %}