{% extends 'base.html' %}

{% block title %}
    Your Items
{% endblock %}

{% block content %}
	<body class="input">
        <h1 class="text-center">Your Items ({{ num_user_items }})</h1>
        <p>
            Here you can keep track of the items you added to your account and update
            each item with relevant data so we may provide you the culmative data and
            information.
        </p>
        
        <br><hr><br>
        
        {% if user.is_authenticated %}
            {% include 'sub_templates/user_items.html' %}
        {% else %}
            <p>Please log in to view your items.</p>
        {% endif %}
	</body>
{% endblock %}